@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*Fix to adjust the body of the site to full width - answer found on StackOverflow, user:  Dan Beaulieu (https://stackoverflow.com/questions/29595233/website-not-filling-entire-width-of-screen)*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #FFF;
    color: #2D3142;
    font-family: 'Roboto', sans-serif;
}

/*----------------------------------Colours*/
.bg-color-navbar {
    background-color: rgba(45, 49, 66, 0.7);
}
.bg-color-footer-area-top {
    background-color:  #2D3142;    
}
.bg-color-footer-area-bottom {
    background-color: #2D3142;
}

/*----------------------------------Special paddings/margins/text*/

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: #fafafa; 
    padding: 20px 0;
}


/*----------------------------------Navigation Bar*/
/* over-write the Bootstrap navbar class */
.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
}

.navbar-brand {
    font-weight: 500;
    color: #fafafa;
    font-family: 'Open Sans';
    font-style: italic;
    margin-left: 10px;
    font-size: 1.55rem;
}

.navbar-brand i {
    color: #FB5607;
}

.navbar .navbar-toggler {
    border: 0;
} 

button:focus {
     outline-color: #FB5607;
}

.navbar .navbar-nav a {
    font-weight: 500;
}

.nav-link {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #FFF !important;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.nav-item a:hover {
    color: #FB5607 !important;
}

.nav-item .active {
    color: #FB5607 !important;
}

/*----------------------------------Containers */
.container-fluid {
    padding: 0 !important;
}

.hero-image-container {
    height: 100vh;
    background: url("../images/woman-weightlifting-orange.jpg") fixed center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*----------------------------------Jumbotron*/
.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    color: #D3D3D3;
    margin: 25px 0; 
    font-weight: bold;   
}

/*----------------------------------Buttons*/

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--orange {
    color: white;
    background-color: #FB5607;
    border-color: #FB5607;
    border-width: 2px;
}

.btn--orange:hover,
.btn--orange:active,
.btn--orange:focus,
.btn--orange:active:focus {
    background-color: #FAFAFA;
    border-color: #FB5607;
    color: #FB5607;
}

/*----------------------------------Footer*/

footer {
    color: #fafafa;
    min-height: 120px;
} 

.footer-area {
    margin: 0;
    border: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

#footer-details {
    color: #D3D3D3;
}

#footer-details h5 {
    color: #FAFAFA;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-area-top {
    margin: 0;
}

.footer-area-top iframe {
    width: 80%;
    height: 80%;
    padding-bottom: 25px;
}

.footer-area-top ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#footer-gym-address ul li i {
    color: #fb5607;
    padding-right: 8px;
}

#footer-gym-address ul li p {
    margin-left: 28px;
}

.footer-area-top ul li a:link, 
.footer-area-top ul li a:visited {
    color: #D3D3D3;
    text-decoration: none;
}

.footer-area-top ul li a {
    padding-bottom: 25px;
}

table
{
    width: 90%;
    height: 100%;
}

.footer-area-bottom {
    padding: 20px 0px 5px 0px;
    text-align: center;
    margin: 0;
    border-top: 1px solid #FAFAFA;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #fb5607;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #fafafa;
    color: #fb5607;
}

.footer-area-bottom a:link, 
.footer-area-bottom a:visited {
    color: #fafafa;
    text-decoration: none;
}

.footer-bottom {
    font-size: small;
}