@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*Fix to adjust the body of the site to full width - answer found on StackOverflow, user:  Dan Beaulieu (https://stackoverflow.com/questions/29595233/website-not-filling-entire-width-of-screen)*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll; /* Add the ability to scroll */
}

body {
    background-color: #FAFAFA;
    color: #2D3142;
    font-family: 'Roboto', sans-serif;
    margin-top: 62px;
}
/*Fix to hide scrollbar but keep the scroll functionality found on W3Schools: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
body.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

body.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */  
}

/*----------------------------------Colours*/
.bg-color-navbar {
    background-color: #2D3142;
}

.bg-color-footer-area-top {
    background-color:  #2D3142;    
}

.bg-color-footer-area-bottom {
    background-color: #2D3142;
}

section#testimonialsSection {
    background-color: #2D3142;
}

section#callToActionSection {
    background-color: #FC7536;
}

section#membershipPricingSection {
  background-color: #FAFAFA;
}

section#contactUsSection {
  background-color: #FAFAFA;
}

section#registrationFormSection {
    background-color: #FC7536;
}
/*----------------------------------Special paddings/margins/text*/

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: #FAFAFA; 
    padding: 20px 0;
    text-align: center;
}

.page-section {
  padding: 2rem 0;
}

.page-section h2.section-heading {
  color: #2D3142;
  margin-top: 0;
  margin-bottom: 2.5rem;
  font-family: "Open Sans", sans serif;
  text-align: center;
}

.page-section h2.section-heading-orange {
  color: #FC7536;
}

section#testimonialsSection h2.section-heading-white,
section#callToActionSection h2.section-heading-white,
section#registrationFormSection h2.section-heading-white {
    color: #FAFAFA;
}

.page-section h3.section-subheading {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  margin: 2rem 0 2rem 0;
}

.page-section h4.section-subheading {
  font-size: 1rem;
  font-style: italic;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 4rem;
}
/*----------------------------------Navigation Bar*/
/* over-write the Bootstrap navbar class */
.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
}

.navbar-brand {
    font-weight: 500;
    color: #FAFAFA;
    font-family: 'Open Sans';
    font-style: italic;
    margin-left: 10px;
    font-size: 1.55rem;
}

.navbar-brand i {
    color: #FC7536;
}

.navbar .navbar-toggler {
    border: 0;
} 

button:focus {
     outline-color: #FC7536;
}

.navbar .navbar-nav a {
    font-weight: 500;
}

.nav-link {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #FFF !important;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.nav-item a:hover {
    color: #FC7536 !important;
}

.nav-item .active {
    color: #FC7536 !important;
}

/*----------------------------------Containers */

.hero-image-container {
    height: 100vh;
    background:  #2D3142 url("../images/woman-weightlifting-orange.jpg") fixed center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.banner-image-container {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.banner-image-membership-container {
    background:   
   #2D3142 url("../images/hands-grasping-kettlebell-on-floor.jpg") fixed center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner-image-facilities-container {
    background: 
    #2D3142 url("../images/orange-dumbbells-on-shelf.jpg") fixed center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner-image-classes-container {
    background: 
    #2D3142 url("../images/female-gym-class-arms-outstretched.jpg") fixed center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner-image-contact-container {
    background: 
    #2D3142 url("../images/man-battlerope-exercise.jpg") fixed center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner-image-registration-container {
    background: 
    #2D3142 url("../images/legs-on-treadmill.jpg") fixed center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*----------------------------------Jumbotron*/
.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: #FAFAFA;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
}

.jumbotron h2 {
    color: #FAFAFA;
    margin: 1rem 0 2rem 0;
    font-family: "Open Sans", sans-serif;
} 

/*----------------------------------Buttons*/

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--orange {
    color: #FFFFFF;
    background-color: #FB5607;
    border-color: #FB5607;
    border-width: 2px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.4)
}

.btn--orange:hover,
.btn--orange:active,
.btn--orange:focus,
.btn--orange:active:focus {
    background-color: #FAFAFA;
    border-color: #FB5607;
    color: #FB5607;
}

.btn--grey {
    color: #FAFAFA;
    background-color: #2D3142;
    border-color: #2D3142;
    border-width: 2px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.4)
}

.btn--grey:hover,
.btn--grey:active,
.btn--grey:focus,
.btn--grey:active:focus {
    background-color: #FAFAFA;
    border-color: #2D3142;
    color: #2D3142;
}

.btn--registration {
    border-color: #FFFFFF;
    border-width: 1px;
    background-color: #FFFFFF;
    color: #FB5607;
}

.btn--grey--bright {
    color: #FFFFFF;
    background-color: #ADADAD;
    margin: 5px;
}

.btn--grey--bright:hover,
.btn--grey--bright:active,
.btn--grey--bright:focus,
.btn--grey--bright:active:focus {
    color:#FFFFFF;
    background-color: #2D3142;
    border-color: #2D3142;
}

/*----------------------------------Footer*/

footer {
    color: #FAFAFA;
    min-height: 120px;
} 

.footer-area {
    margin: 0;
    border: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

#footerDetails {
    color: #D3D3D3;
}

#footerDetails h5 {
    color: #FAFAFA;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-area-top {
    margin: 0;
}

.footer-area-top iframe {
    width: 80%;
    height: 80%;
    padding-bottom: 25px;
    border-radius: 0.25rem;
}

.footer-area-top ul {
    margin: 0;
    padding: 0 0 0 2em;
    list-style-type: none;
}

#footerGymAddress ul li i {
    color: #FC7536;
    padding-right: 8px;
}

#footerGymAddress ul li p {
    margin-left: 28px;
}

.footer-area-top ul li a {
    padding-bottom: 25px;
}

.footer-area-top ul li a:link,  
.footer-area-top ul li a:visited {
    color: #D3D3D3;
    text-decoration: none;
}

.footer-area-top ul li a:hover{
    color: #FAFAFA;
    text-decoration: none;
}

table
{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.footer-area-bottom {
    padding: 20px 0px 5px 0px;
    text-align: center;
    margin: 0;
    border-top: 1px solid #FAFAFA;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #FC7536;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #fafafa;
    color: #FC7536;
}

.footer-area-bottom a:link, 
.footer-area-bottom a:visited {
    color: #fafafa;
    text-decoration: none;
}

.footer-bottom {
    font-size: small;
}
/*----------------------------------Services Section*/
section#servicesSection .services-icons i {
    color: #FC7536;
    border-color: #FC7536;
    font-size: 2.5rem;
    display: block;
    margin-bottom: 1rem;
    line-height: 1.6;
}

section#servicesSection .services-find-out-more-button-row button {
    font-size: 1rem;
    margin-bottom: 3.5rem;
}
/*----------------------------------Testimonials Section*/

.comments {
    margin: 1em 0 1em 0;
}

.gym-member-comment {
    font-size: 1.1em;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #FAFAFA;
}

.gym-member-image {
    object-fit: cover;
    border-radius: 50%;
}

.carousel-inner .row {
    margin: 0 -80px;
    background-color: #2D3142;
}

.carousel-control-prev,
.carousel-control-next {
    width: 25%;
}

/*----------------------------------Trainers Section*/
section#trainersSection .trainers-container img {
    position: relative;
    width: 100%;
    height: auto;
    justify-content: center;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.4)
}

section#trainersSection .trainers-container p {
    margin-bottom: 2em;
}

/*----------------------------------Facilities Section*/

section#facilitiesSection .facility-image img {
    position: relative;
    width: 100%;
    height: auto;
    justify-content: center;
    border-radius: 0.25rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.4)
}

section#facilitiesSection .facility-info h2 {
    text-align: center;
    margin: 0.7em 0;
}

/*----------------------------------Timetable Section*/
section#timetableSection #nav-tab a:hover,
section#timetableSection #nav-tab a:active,
section#timetableSection #nav-tab a:focus,
section#timetableSection #nav-tab a:active:focus {
    color: #FAFAFA;
    text-decoration: none;
    background-color: #FC7536;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #2D3142 !important;
    background-color: #FC7536;
    border-color: transparent;
}

.nav-tabs .nav-link {
    border-radius: 0.5rem;
    background-color: #D3D3D3;
    border-color: #FAFAFA;
    border-width: 5px;
}

section#timetableSection .nav-tabs {
    border: transparent;
}

section#timetableSection .timetable-class-row {
    background-color: #FC7536;
    border: 3px solid #FAFAFA;
    color: #FAFAFA;
    text-align: center;
    border-radius: .5rem;
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

section#timetableSection .timetable-class-row p{
    margin: 0;
    padding-top: 12px;
}

/*----------------------------------Classes Section*/
section#classesSection .class-image img {
    position: relative;
    width: 100%;
    height: auto;
    justify-content: center;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.4)
}

section#classesSection h2 {
    text-align: center;
    margin: 0.7em 0;
}

/*----------------------------------Membership Pricing Section*/
section#membershipPricingSection h2.section-heading {
    color: #2D3142;
    margin-bottom: 3rem;
}

section#membershipPricingSection .card-deck .card {
    margin-bottom: 35px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.4)
}

section#membershipPricingSection .card-header {
    color: #2D3142;
    font-size: 2em;
    background-color: #FC7536;
}

section#membershipPricingSection .card-body {
    background-color: #2D3142;
    color: #FAFAFA;
}

section#membershipPricingSection .card-list ul li {
    list-style-image: url("../images/check-solid-white.svg");
}

section#membershipPricingSection .membership-sign-up-button-row {
    margin-top: 3rem;
}
/*----------------------------------Contact Us Form*/

section#contactUsSection form#contactForm .form-group {
    margin-bottom: 1.35rem;
}

section#contactUsSection form#contactForm .form-group input,
section#contactUsSection form#contactForm .form-group textarea {
    padding: 1.25rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.4);
    border-color: #FC7536;
    border-width: 3px;
}

/* Code to make the input areas in the Contact Us Form taller found at: https://startbootstrap.com/themes/agency/ */
section#contactUsSection form#contactForm .form-group input.form-control {
    height: auto;
}

section#contactUsSection form#contactForm .form-control:focus {
    border-color: #FC7536;
    border-width: 2px;
    box-shadow: none;
}

section#contactUsSection form#contactForm .form-group textarea {
    overflow: auto; /*adds a scroll-bar when necessary*/
}

/*----------------------------------Registration Form*/
section#registrationFormSection .section-heading {
    color: #2D3142;
}

section#registrationFormSection form#registrationForm .form-group {
    margin-bottom: 1.35rem;
}

section#registrationFormSection form#registrationForm .form-group input {
    padding: 1.25rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.4)
} 

section#registrationFormSection form#registrationForm .form-group .form-control#membershipPackage {
    padding: 1.25rem;
    height: auto;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.4)
} 

/* Code to make the input areas in the Contact Us Form taller found at: https://startbootstrap.com/themes/agency/ */
section#registrationFormSection form#registrationForm .form-group input.form-control {
    height: auto;
}

section#registrationFormSection form#registrationForm .form-control:focus {
    border-color: #4F5D75;
    box-shadow: none;
}

section#registrationFormSection form#registrationForm #registrationButton {
    margin-top: 3rem;
}

/*----------------------------------Media Queries*/
@media screen and (min-width: 1650px) {
    .hero-image-container {
    height: 95vh;
   background-position: center 0px;
   }
}

@media screen and (min-width: 1650px) {
.banner-image-contact-container {
    background-position: center 0px;
}
}

@media screen and (max-width: 1650px) {
.gym-member-comment {
    text-align: center;
}
}

@media screen and (max-width: 576px) {
section#classesSection p {
    text-align: center;
}
}
